$black: #000000;
$gray: #1d1d1d;
$primary: #f42f54;
$secondary: #2b2a69;
$white: #ffffff;

$fontSizeSmall: 14px;
$fontSizeDefault: 16px;
$fontSizeLarge: 24px;

$fontWeightDefault: 400;
$fontWeightMedium: 600;
$fontWeightBold: 700;
